/**********FEATURE**********/

.feature {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;

	@media only screen and (max-width: $bp-largest) {
		height: 80vh;
		padding-bottom: 2rem;
		justify-content: space-evenly;
	}

	@media only screen and (max-width: $bp-large) {
		height: 70vh;
		padding-bottom: 2rem;
		justify-content: space-evenly;
	}

	@media only screen and (max-width: $bp-medium) {
		height: 60vh;
		padding-bottom: 3rem;
		justify-content: space-evenly;
	}

	&__title {
		color: var(--tertiary-color);
		text-align: center;
		margin-top: 4rem;
		margin-bottom: 4rem;
	}

	&__card {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 3.5rem;
	}

	&__ico {
		color: var(--primary-color);
		font-size: 4.5rem;
		margin-right: 2rem;
	}

	.title-text {
		color: var(--tertiary-color);
		margin-bottom: 1rem;
	}

	.summary-text {
		width: 30rem;
		color: var(--tertiary-color);
		font-size: 1rem;
		word-spacing: 0.2rem;
		word-wrap: break-word;
	}
}
